<%= render "shared/page_title", title: @recipe.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef.id) %>
    <p>
      <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>
  <div class="col-md-8">
    <% if logged_in? and (@recipe.chef == current_user || current_user.admin?)%>
      <%= link_to "Edit this Recipe", edit_recipe_path(@recipe.id), class: "btn btn-success pull-right" %>
    <% end %>
    <% if logged_in? %>
    <% if current_user.admin? %>
      <%= link_to "[Delete Recipe]", recipe_path(@recipe.id), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    <% end %>
    <h3><%= @recipe.summary %></h3>
    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture %>
    </div>
    <div class="well">
      <p>Styles: <%= render @recipe.styles %></p>
      <p>Ingredients: <%= render @recipe.ingredients %></p>
      <p>
        <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= @recipe.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= @recipe.thumbs_down_total %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if logged_in? %>
<div class="row">
  <div class="col-md-6">
    <%= form_for @review do |f| %>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 6 %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <h4>Reviews:</h4>
    <% @recipe.reviews.each do |review| %>
    <div class="well">
      <p><%= review.body %></p>
      <span class='quiet'><small> by: <%= link_to review.chef.chefname, chef_path(review.chef.id) %>,</small></span>
      <span class='quiet'><small> created: <%= time_ago_in_words(review.created_at) %> ago,</small></span>
      <span class='quiet'><small> updated: <%= time_ago_in_words(review.updated_at) %>,</small></span>
    </div>
    <% end %>
  </div>
</div>


<h5><%= link_to 'Return to Recipes Listing', recipes_path, class: "btn btn-warning btn-small" %></h5>